body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}

div.person {
    float:left;
}

div.person img {
    width: 300px;
}

div.clear {
    clear: both;
}