body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}

h1, h2 {
    text-shadow: 0px 2px 2px white;
}

a, a:visited {
    color: White;
    text-shadow: 0px 2px 2px white;
}

img.logo {
    width: 400px;
}

div.person-container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

div.person {
    float:left;
    width: 400px;
}

div.person img {
    width: 180px;
}

div.person span {
    display: block;
    font-style: italic;
    font-size: 0.8em;
}

div.clear {
    clear: both;
}