body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    text-align: center;
}

div.person-container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

div.person {
    float:left;
    width: 400px;
}

div.person img {
    width: 250px;
}

div.clear {
    clear: both;
}