body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #333;
}

div.header {
    background-color: black;
    height: 412px;
    margin: 0;
    padding: 0;
}

div.content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

a, a:visited {
    color: #555;
}

img.logo {
    width: 400px;
}

div.skills {
    text-align: justify;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

div.person {
    float:left;
    width: 400px;
}

div.person img {
    width: 180px;
}

div.person span {
    display: block;
    font-style: italic;
    font-size: 0.8em;
}

div.clear {
    clear: both;
}